
[submodule "Mods/V0r-T3x/pwnagotchi_LCD_colorized_darkmode"]
	path = Mods/V0r-T3x/pwnagotchi_LCD_colorized_darkmode
	url = https://github.com/V0r-T3x/pwnagotchi_LCD_colorized_darkmode.git
	branch = main
